beautifulsoup4~=4.12
typing-extensions
pydantic
gradio
openai
azure-common
azure-core
azure-search-documents
azure-cognitiveservices-search-websearch
pyautogen
semantic-kernel==0.3.14.dev0
microsoft-bing-websearch
microsoft-bing-visualsearch
microsoft-bing-videosearch
microsoft-bing-imagesearch
microsoft-bing-newssearch
microsoft-bing-spellcheck
microsoft-bing-entitysearch
microsoft-bing-autosuggest
microsoft-bing-customimagesearch
microsoft-bing-customwebsearch
msrest
msrestazure
pymilvus
bs4